body{
    background-color: azure;
    min-height:100vh ;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 40px);
    padding: 20px;
}
.login-card{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0  10px 40px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    
}
.login-card h2{
    color: rgb(0, 0, 0 );
}

/*Estilos cards peliculas*/
.movie-card{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.movie-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);
}

.movie-image{
    width: 100%;
    height: 450px;
    object-fit: cover;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.movie-content{
    padding: 15px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.movie-title{
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    line-height: 1.3;
    min-height: 2.6em;
}

.movie-genero{
    display: inline-block;
    background-color: #667eea;
    color: white;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-bottom: 8px;
}

.movie-meta{
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 5px;
}

.movie-rating{
    color: #ffc107;
    font-weight: bold;
    margin-bottom: 10px;
}

.movie-desciption{
    font-size: 0.8rem;
    color: #555;
    margin-bottom: 12px;
    display: flex;
    flex-grow: 1;
}

.movie-actions{
    display: flex;
    gap: 8px;
    margin-top: auto;
    
}

/*Estilos carrusel*/
.slider-container{
    display: flex;
    align-items: center;
    gap: 15px;
    overflow: hidden;
    position: relative; /* importante para que los botones se posicionen dentro */ 
}

.carrusel-movies{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px 0px;
    scroll-behavior: smooth;
    z-index: 1;
}

.carrusel-movies::-webkit-scrollbar{
    height: 8px;
}
.carrusel-movies::-webkit-scrollbar-track{
    background-color: #667eea;
    border-radius: 10px;
}

.carrusel-movies::-webkit-scrollbar-thumb{
    background-color: #764ba2;
    border-radius: 10px;
}

.carrusel-movies::-webkit-scrollbar-thumb:hover{
    background-color: rgb(174, 54, 124);
    border-radius: 10px;
}

.slider-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #667eea;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: all 0.3s ease;
    flex-shrink: 0;
    z-index: 10;
    background: red !important;
}


.slider-btn.prev {
    left: 10px; 
} 
.slider-btn.next {
    right: 10px;
 }

.slider-btn:hover{
    background-color: #ea1919;
    transform: scale(1.1);
}

.slider-movie-card{
    min-width:180px ;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:0 4px 15px rgba(0, 0, 0, 0.2);
}

.slider-movie-card:hover{
    transform: translateY(-5px);
    box-shadow:0 8px 25px rgba(0, 0, 0, 0.6);
}

.slider-movie-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.slider-movie-info{
    padding: 10px;
}

.slider-movie-info h6{
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    margin: 5px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
